body{
	display: flex;
	justify-content: center;
}
input[type=submit]{
	width: 200px;
	height: 80px;
	border-radius: 10px;
	color: white;
	text-transform: uppercase;
	background-color: black;
	border:none;
	outline: none;
	cursor: pointer;
}
input[type=submit]:hover{
	background-color: grey;
}